body{
	background-color: #232323;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background 0.3s;
}

#container{
	margin: 0 auto;
	max-width: 650px;
}

h1{
	color: white;
	line-height: 1.2;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	padding: 15px 0;
}

#RGBcolor{
	font-size: 150%;
}

#message{
	display: inline-block;
	width: 20%
}

#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.clicked{
	color: white;
	background-color: steelblue;
}

button{
	text-transform: uppercase;
	border: none;
	background-color: none;
	height: 100%;
	font-weight: 800;
	letter-spacing: 1px;
	font-size: inherit;
	color: steelblue;
	transition: all 0.5s; 
	outline: none;
}

button:hover{
	color: white;
	background-color: steelblue;
}